# Konfigurasi Database PostgreSQL untuk Sistem DKM
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dkm_db?schema=public"

# Next.js Port & Secret
PORT=3000
NEXT_PUBLIC_APP_NAME="DKM MASJID JAMI' AL-IKHLAS"
